@page "/showEverything"
@page "/"

@using NuGetPackageManagerApp.AppCode
@using NuGetPackageManagerWebApp.AppCode.CustomNuGetV2;
@using System.ComponentModel.DataAnnotations;

@inject NavigationManager _nav
@inject NuGetFileServiceV2 _nugetFileService;

<h4>All Data</h4>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="w-100 position-relative d-flex">
            <h4 class="position-absolute" style="left: 50%; transform: translateX(-50%);">Full Asset File List</h4>
            <button type="button" class="btn btn-primary position-absolute" style="right: 0;" @onclick="@navigateToAssetFileAdd">Add New Asset File</button>
        </div>
        <h5>Solutions</h5>
        <div class="scrollable-div">
            @if (assetRows.Where(x => x.ProjectOrSolution == "Solution").Count() == 0)
            {
                <p class="text-center">No Solution Asset Files Found</p>
            }
            @foreach (var asset in assetRows.Where(x => x.ProjectOrSolution == "Solution"))
            {
                <div class="customRowDesign">
                    <p class="wrapPTag">
                        @($"Name:{asset.Name} | Path: {asset.AssetsPath}")
                    </p>
                    <button type="button" class="btn btn-primary w-100" @onclick="(()=>_nav.NavigateTo(VisualizeChartPath+asset.AssetFileIds))">Show Graph</button>
                </div>
            }
        </div>
        <h5>Projects</h5>
        <div class="scrollable-div">
            @if (assetRows.Where(x => x.ProjectOrSolution == "Project").Count() == 0)
            {
                <p class="text-center">No Project Asset Files Found</p>
            }
            @foreach (var asset in assetRows.Where(x => x.ProjectOrSolution == "Project"))
            {
                <div class="customRowDesign">
                    <p class="wrapPTag">
                        @($"Name:{asset.Name} | Path: {asset.AssetsPath}")
                        <button type="button" class="btn btn-primary w-100" @onclick="(()=>_nav.NavigateTo(VisualizeChartPath+asset.AssetFileIds))">Show Graph</button>
                    </p>
                </div>
            }
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h4>Full Package List</h4>
        <div class="scrollable-div">
            @foreach (var package in packageRows)
            {
                <div class="customRowDesign">
                    <p class="packageListPTag">@($"ID:{package.CustomPackageId}")</p>
                    <p class="packageListPTag">@($"Name: {package.PackageName}")</p>
                    <p class="packageListPTag">@($"Version: {package.PackageVersion}")</p>
                </div>
            }
        </div>
    </div>
</div>

@code {
    List<AssetFilesRow> assetRows = new List<AssetFilesRow>();
    List<FoundNuGetPackageRow> packageRows = new List<FoundNuGetPackageRow>();

    public string VisualizeChartPath = "/VisualizeChart/";

    protected override async Task OnInitializedAsync()
    {
        assetRows = await _nugetFileService.GetAllAssetRows();
        assetRows.OrderBy(x => x.Name);
        packageRows = await _nugetFileService.PullDataFromPackagesSaveFiles();
        packageRows.OrderBy(x => x.PackageName);
    }

    private void navigateToAssetFileAdd()
    {
        _nav.NavigateTo("assetFileAdd");
    }
}
